@import "config";

.about {
  background-color: $dark-color;

  .about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 1rem;

    .about-image {
      object-fit: contain;
      margin-bottom: 2rem;
    }

    .about-text {
      color: $light-font;
      text-align: center;

      .about-text-title {
        font-size: 2rem;
      }

      h2 {
        margin-top: 0;
        font-size: 1.9em;
      }

      p {
        color: $light-font;
        font-size: 1rem;
        line-height: 1.8rem;
      }
    }
  }

  @media screen and (min-width: 768px) {
    .about-container {
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;

      .about-image {
        object-fit: contain;
        margin-right: 3rem;
      }

      .about-text {
        border-left: 3px solid $highlight-color;
        padding-left: 1rem;
        text-align: left;
      }
    }
  }
}
