.App {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;

  .container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 1.2rem;
  }

  ul {
    padding: 0;
  }
}
