@import "config";

.header {
  position: fixed;
  width: 100%;
  z-index: 1000;

  .menu-btn {
    z-index: 2000;
    color: $dark-color;
    position: absolute;
    right: 1rem;
    top: 1rem;
    font-size: 4rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.5s ease-out;

    .btn-line {
      width: 28px;
      height: 3px;
      margin: 0 0 5px 0;
      background: $dark-color;
      transition: all 0.5s ease-out;
    }

    // Rotate Into x With Menu Lines
    &.close {
      transform: rotate(180deg);

      .btn-line {
        // Line 1 - Rotate
        &:nth-child(1) {
          transform: rotate(45deg) translate(5px, 5px);
          background-color: white;
        }

        // Line 2 - Hide
        &:nth-child(2) {
          opacity: 0;
          background-color: white;
        }

        // Line 3 - Rotate
        &:nth-child(3) {
          transform: rotate(-45deg) translate(7px, -6px);
          background-color: white;
        }
      }
    }
  }

  .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: $dark-color;
    min-height: 51px;
    position: relative;
    width: 100%;
    top: -148px;
    transition: all 0.4s ease;

    &.active {
      box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.5);
      top: 0;
    }

    .menu {
      height: 100%;
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .menu-item {
        list-style: none;
        padding: 10px 20px;
        text-decoration: none;
        color: $light-font;
        font-size: 0.7rem;
        text-transform: uppercase;
        letter-spacing: 2px;
        cursor: pointer;
        transition: all 0.4s ease;
      }
    }
  }

  @media screen and (min-width: 768px) {
    height: 3vh;
    display: flex;

    .menu-btn {
      display: none;
    }

    .nav {
      top: 0;
      box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.5);
      .menu {
        flex-direction: row;

        .menu-item {
          &.active {
            font-size: 1.1rem;
          }
        }
      }
    }
  }
}
