@import "config";

.languageSwitch {
  position: absolute;
  left: 1rem;
  top: 1.6rem;

  @media screen and (min-width: 768px) {
    left: inherit;
    right: 3.5rem;
    top: 1.4rem;
  }
}

.switch {
  position: relative;
  //   display: inline-block;
  //   width: 60px;
  //   width: 40px;
  //   height: 34px;
  //   height: 7px;

  input {
    display: none;
  }

  .input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    height: 11px;
    width: 40px;
    left: 0;
    top: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 34px;
    box-shadow: inset 0 0 2px black;

    &:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 0px;
      top: -7px;
      //   bottom: -9px;
      background-color: white;
      background-image: url("../assets/icons/spanish.png");
      background-size: cover;
      -webkit-transition: 0.4s;
      background-size: 130%;
      background-position-x: -4px;
      background-position-y: -4px;
      transition: 0.4s;

      border-radius: 50%;
    }
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #2196f3;
  }
  input:checked + .slider:before {
    transform: translateX(14px);
    background-image: url("../assets/icons/english.png");
    background-size: cover;
    background-size: 130%;
    background-position-x: -4px;
    background-position-y: -4px;
  }
}
