@import "config";

.projects {
  background-color: $secondary-color;
  color: white;

  .container {
    padding: 3rem 0;

    .projects-title {
      text-align: left;
      font-size: 2rem;
      margin: 0;
      padding: 1rem;
    }

    .projects-container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
