@import "config";

.project {
  max-width: 900px;
  margin: 2rem 1rem;

  .project-title {
    font-size: 1.3rem;
    font-weight: normal;
    margin-bottom: 0.4rem;
  }

  .carousel {
    border-radius: 5px;

    .project-carousel-div {
      display: flex;

      .legend {
        bottom: -58%;
        opacity: 95%;
        overflow: hidden;
        transition: 0.7s ease;
        background: $dark-font;
        background: linear-gradient(0deg, $dark-font -50%, $dark-color 100%);
        color: $light-font;
        text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);
        height: 80%;

        @media screen and (min-width: 768px) {
          height: 40%;
          bottom: -30%;

          .legend-text {
            font-size: 1rem;
            color: $light-font;
          }
        }

        .legend-title {
          text-transform: uppercase;
          display: flex;
          justify-content: center;
          color: white;
          text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
          margin: 0;
          padding-bottom: 0.2rem;

          @media screen and (min-width: 768px) {
            font-size: 2rem;
            margin-bottom: 1rem;
          }

          .legend-link {
            text-decoration: none;
            font-size: 1.2rem;
            color: $light-font;
            margin-left: 0.7rem;

            @media screen and (min-width: 768px) {
              font-size: 2rem;
            }
          }
        }

        .legend-techs {
          display: flex;
          justify-content: center;
          text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);

          .legend-tech {
            margin: 0 0.4rem;
            list-style: none;
            font-size: 1.2rem;

            @media screen and (min-width: 768px) {
              font-size: 2rem;
              margin-bottom: 1rem;
            }
          }
        }
      }
    }
  }

  &:hover {
    .project-carousel-div {
      .legend {
        // opacity: 95%;
        bottom: 10%;

        @media screen and (min-width: 768px) {
          bottom: 5%;
        }
      }
    }
  }
}
